*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: #3C3C70;
    color: white; 
}
header{
    background-color:#555453; 
    color: white;
    display: flex;
    padding: 10px;
    gap: 50px;
    align-items: center; 
    justify-content: space-between;
    
}
.home{
    display: flex;
    align-items: center;
    justify-content: right;
}
.logo{
width: 200px;
display: flex;
margin: 10px 0px 0px 0px;

}

header nav ul {
    text-align: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}   

.navegacion {
    color: white;
    text-decoration: none;
    margin-left: 50px;
}


a:hover{
    color:#3C3C70 ;
    transition: all 0.5s;   
}
 section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border:10px solid black;
    
}

.imgdoctor img{
    width: 300px;
    height: 300px;
    margin:150px 90px 150px;
    position: relative;
    top: 0px;
    left: 0px;
}

