*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #3C3C70;
    
}
header{
    background-color:#555453; 
    color: white;
    display: flex;
    padding: 10px;
    gap: 50px;
    align-items: center; 
    justify-content: space-between;
    
}
.home{
    display: flex;
    align-items: center;
    justify-content: right;
}
.logo{
width: 200px;
display: flex;
margin: 10px 0px 0px 0px;

}

header nav ul {
    text-align: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}   

/*INDEX*/

.navegacion {
    color: white;
    text-decoration: none;
    margin-left: 50px;
}


a:hover{
    color:#3C3C70 ;
    transition: all 0.5s;   
}
main{
    display:flexbox;
    margin: 10px;
    text-align: center;
    
}
h1{
    font-size: 60px;
    margin: 20px;
}
main p{
    margin: 30px ;    
}

.turnoYa {
    display:inline;
    text-align: center;
    text-decoration: none;
    border: 8px solid white;
    background-color: white;
    border-radius: 50px;
}

.obrasSociales {
    justify-content: center;
    display: flex;
    justify-content: space-around;
    background-color: #5d579e;
}


.indexh2{
    justify-content: center;
    font-size: 50px;
    margin-top: 0px;
    background-color:#5d579e ;
}
section img{
    margin-top: 10px;
    padding: 10px;
}
h2{
    text-align: center; 
    font-size: 30px;
    margin-top: 50px;
}
.marcas{
    width:30%;
    height:30%;
}
.marcas{
    display: flex;
    justify-content: space-around;
    background-color: #5d579e;
    width: auto;
}
.marcasLogo{
    width:250px ;
    display: inline;
    align-items: center;
}

section h2 {
    display: flex;
    font-size: 10px
}

h1{
    font-size: 60px;
    margin: 20px;
    text-align: center;
}
main p{
    margin: 30px ;    
}

/*  SUCURSALES  */
.mapaChico{
    display: none;
}
div.sucursales{
    color: white;
}
div.contenedorSucursales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1,1fr);
    align-items: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
div.sucursales img{
    width: 300px;
    margin: auto;
    border-radius: 2%;
}
div.contenedorMapa{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 400px;
}
/* INTENTO DE RESPONSIVE 
@media screen and (max-width: 1024px) {
    body {
        background-color: orange;
    
    }
    .mapaChico{
        display:block;
    }
    .mapaSucursal{
        display: none;
    }

    
}
    */
/* INTENTO DE RESPONSIVE
@media screen and (max-width: 720px){ 
    body{
        background-color: aqua;
    }
    .contenedorSucursales{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 2fr);
    }
    .imagenesSucursales{
        width: 50px;
        
    }
}

*/
/*EQUIPO*/
#imagenesOdontologos {
    width: 100%;
    height: 100%;
    align-items: center;
}
div.card{
    display: grid;
    grid-template-columns: repeat(2, 100%);
}

/*ESPECIALIDADES*/
.contenedor{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.contenedor :hover{
    box-shadow: 0px 0px 20px 1px whitesmoke;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

/* Footer */
footer{
    display: block;
    background-color: #3C3C70 ;
    text-align: center;
    margin-top: 50px;
    
}

footer p{
    font-size: 100%;
    text-decoration: none;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 100%;
    margin: 10px;
    padding: 30px;
    align-items:end;
    text-align: center;
}
